/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/styles/variables";
@import "src/styles/mixins";

$list-height: 6rem;

.layerControls {
  display: flex;
  flex-direction: column;
}

.titleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.layerList {
  min-height: $list-height;
  max-height: $list-height * 1.5;

  overflow-x: hidden;
  overflow-y: auto;

  padding: 0.5rem;
  border: solid 0.1rem $gray-400;
  border-radius: $border-radius;
}

.buttonBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  button {
    font-size: 1.2rem;
    padding: 0 0.5rem !important;

    @include media-breakpoint-down(xl) {
      font-size: 1.4rem;
    }

    :global(.abc-icon) {
      color: $gray-500;
    }

    &:hover {
      :global(.abc-icon) {
        color: $gray-700;
      }
    }
  }
}

.noLayers {
  padding: 1rem;
}
